extends template
block content
    div
        | Упс... Здається ви забули пароль
        br
        | щоб відновити його
        div
            a(href=frontendUrl + `/password/reset/` + token) перейдіть за цим посиланням
