doctype html
html
    head
        style
            include index.css

    body
        div.header

            block content

        div.footer
            | З найкращими побажаннями
            br
            | команда Strange Shop
            a(href=frontendUrl) Завітайте до нас!
